.footer__column-link {
  color: white;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 0.7;
}
